.project{
  margin: 1rem;
  border: 1px solid grey;
  background-color: grey;
  color: pink;
  font-weight: bold;
  width: 11rem;
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: center;
}