@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");
.wrapper {
  background-color: #f2f2f2;
}
.wrapper .wrapper-content {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  max-width: 500px;
  padding: 10px;
  margin: 0 auto;
}
.wrapper .wrapper-content .content-formulario {
  margin-bottom: 50px;
  background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190830/pngtree-gold-sparkling-particles-on-blue-pastel-background-image_312954.jpg);
}
.wrapper .wrapper-content .content-formulario .wistia-login {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.wrapper .wrapper-content .content-formulario .wistia-login .wistia {
  font-size: 1.5em;
  margin: 20px;
  color: white;
}
.wrapper .wrapper-content .content-formulario .wistia-login .login {
  text-decoration: none;
  padding: 7px;
  margin: 20px;
  border: 1px solid white;
  width: 50px;
  height: 20px;
  font-size: 0.9em;
  color: white;
}
.wrapper .wrapper-content .content-formulario .title {
  color: white;
  font-size: 1.3em;
  font-weight: 600;
}
.wrapper .wrapper-content .content-formulario .text {
  font-size: 0.7em;
  margin: 15px;
  color: white;
}
.wrapper .wrapper-content .content-formulario .formulario {
  margin: 10px;
}
.wrapper .wrapper-content .content-formulario .formulario .first-name {
  margin: 5px;
  padding: 10px;
  height: 20px;
  width: 150px;
}
.wrapper .wrapper-content .content-formulario .formulario .last-name {
  margin: 5px;
  padding: 10px;
  height: 20px;
  width: 150px;
}
.wrapper .wrapper-content .content-formulario .formulario .email {
  margin: 5px;
  padding: 10px;
  height: 20px;
  width: 150px;
}
.wrapper .wrapper-content .content-formulario .formulario .password {
  margin: 5px;
  padding: 10px;
  height: 20px;
  width: 150px;
}
.wrapper .wrapper-content .content-formulario .formulario .first-hear {
  margin: 5px;
  padding: 10px;
  width: 370px;
  color: #737373;
}
.wrapper .wrapper-content .content-formulario .formulario .submit {
  margin: 5px;
  padding: 10px;
  width: 370px;
  background-color: #3366ff;
  color: white;
}
.wrapper .wrapper-content .content-formulario .formulario .condition {
  font-size: 0.7em;
  padding: 40px;
  color: white;
}
.wrapper .wrapper-content .content-formulario .formulario .condition .link-condition {
  color: white;
}
.wrapper .wrapper-content .wrapper-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: left;
  letter-spacing: 1px;
  line-height: 15px;
}
.wrapper .wrapper-content .wrapper-footer .question {
  font-size: 0.6em;
  max-width: 200px;
  margin: 10px;
  color: #262626;
}
.wrapper .wrapper-content .wrapper-footer .answer {
  font-size: 0.6em;
  max-width: 200px;
  color: #8c8c8c;
}
.wrapper .wrapper-content .wrapper-footer .answer .link-answer {
  color: #8c8c8c;
}
