.wrapper {
    .form {
      margin: 20px;
      .input {
        height: 15px;
        color: #808b97;
        background-color: #fde2e2;
        border: solid #fde2e2;
        padding: 10px;
        margin-right: 10px;
      }
      .onclickAdd {
        height: 40px;
        width: 90px;
        color: #808b97;
        background-color: #fde2e2;
        border: solid #fde2e2;
        margin-right: 10px;
      }
      .onclickClean {
        height: 40px;
        width: 90px;
        color: #808b97;
        background-color: #fde2e2;
        border: solid #fde2e2;
      }
    }
    .list {
      margin: 40px;
      line-height: 25px;
      color: #808b97;
    }
  }