.button-login{
  width: 8rem;
  height: 2rem;
  margin: 1.5rem 0 0 4.5rem;
  font-weight: bolder;
  background-color: rgb(104, 193, 223);
  border-color: rgb(104, 193, 223);
}

.button-home{
  display: block;
  width: 8rem;
  height: 2rem;
  font-weight: bolder;
  background-color: rgb(34, 118, 146);
  border-color: rgb(34, 118, 146);
  color: white;
  margin: 1rem 0 0 3.5rem;
}