*{
  box-sizing: border-box;
  margin: 0;
}
.algo-login{
  display: flex;
  flex-direction: column;
  width: 20rem;
  margin: 10rem auto;
  background-color: rgb(173, 170, 170);
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 5px;

  .input-content{
    text-align: center;

    .label-input{
      font-weight: bolder;
      margin: 0.5rem 0 0.5rem 0;
    }
    .input-input{
      width: 100%;
    }
  }
}