.home-wrapper{
  width: 20rem;
  margin: 10rem auto;
  .logged{
    font-weight: bolder;
  }
}

a{
  text-decoration: none;
  color: rgb(143, 22, 22);
  margin-top: 1rem;
  text-align: center;
  display: block;
}
